body {
  background-color: #eeeeee;
}

.main-content {
  transition: margin 0.3s;
}

a {
  text-decoration: none;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.button-custom {
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
}

.border-left-danger {
  border-left: 3px solid #dc3545;
}

.border-left-success {
  border-left: 3px solid #28a745;
}